<h1 class="title-app">{{title}}</h1>


@if (Open) {
    <div  class="modal-overlay">
        <div class="modal-content">
          <app-form-task  [Task]="taskEdit" (SaveForm)="AddTask($event)" (CloseForm)="CloseForm($event)"></app-form-task>
        </div>
    </div>
}



<!-- 

<div class="form-task">

    <input type="text" placeholder="Ingresa una Tarea" [(ngModel)]="taskTitle">
    <button (click)="AddTask()">Guardar</button>
    <span [hidden]="taskTitleValid">Ingresa un titulo</span>
</div> -->

@for (task of tasks(); track task.Id) {

    <div class="task-item">
        <input type="checkbox" [checked]="task.Completed" (change)="CompletedTask(task.Id)">
        <p [ngClass]="{'completed-task': task.Completed}">{{ task.Title }}</p> 
        <span>{{task.Prioridad}}</span>
        <button (click)="DeleteTask(task.Id)">Delete</button>
        <button (click)="EditTask(task)">Edit</button>
    </div>
   
    
}

<div class="container-filter">
    <span>Total Tasks: {{ totalTask()}}</span>
    <div>
      <button (click)="filter('')">All</button>
      <button (click)="filter('Baja')">Low</button>
      <button (click)="filter('Media')">Medium</button>
      <button (click)="filter('Alta')">High</button>
    </div>
</div>






<button class="button" (click)="OpenForm()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1.25rem"
    height="1.25rem"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
  >
    <path d="M12 19v-7m0 0V5m0 7H5m7 0h7"></path>
  </svg>
  Create
</button>



